# Inspect

In [11]:
import inspect as ins
# import matplotlib
import pandas as pd
import numpy as np

#### Some objects

In [12]:
# a tuple
tup = (1,2,3)
tup

(1, 2, 3)

In [13]:
# a pandas Data Frame filled with a 6 x 4 ndarray
df = pd.DataFrame(np.random.randn(6,4), index=(1,2,3,4,5,6), columns=list('ABCD'))
df

          A         B         C         D
1  0.078744 -0.736757  0.840515 -0.318429
2  1.448603  0.163379  0.372713 -0.461341
3  0.238951 -1.251224 -0.106655  0.126497
4  0.407000 -1.125458 -0.094082 -0.376181
5 -0.365013 -0.565860  0.769592  1.461820
6 -0.900527 -0.152829  0.119170 -0.853480

#### Inspect things

In [14]:
# show type of an object
type(df)

pandas.core.frame.DataFrame

In [15]:
type(pd)

module

In [16]:
# fetch documentation cleaned up with cleandoc()
ins.getdoc(pd)

'pandas - a powerful data analysis and manipulation library for Python\n=====================================================================\n\nSee http://pandas.pydata.org/ for full documentation. Otherwise, see the\ndocstrings of the various objects in the pandas namespace:\n\nSeries\nDataFrame\nPanel\nIndex\nDatetimeIndex\nHDFStore\nbdate_range\ndate_range\nread_csv\nread_fwf\nread_table\nols'

In [17]:
# Return the name of the Python source file in which an 
# object was defined.
ins.getsourcefile(pd)

'/Users/mchana/anaconda/envs/bunnies/lib/python3.5/site-packages/pandas/__init__.py'

In [18]:
# try to guess which module an object was defined in
ins.getmodule(df)

In [19]:
# df is a pandas dataframe object. I can see its attributes.
# show column labels:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [20]:
# show row labels:
df.index

Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')