# Pandas

In [1]:
# import declarations
import numpy as np
import pandas as pd

### A Pandas Series

Series is a one-dimensional labeled array capable of holding any data type(ex. a Python dict, an ndarray, a scalar value (scalar is a single number like 5)

##### Creating a Series

In [2]:
# Make a Series using a dict
mydict = {'one':1, 'two':2, 'three':3}
s_dict = pd.Series(mydict)
s_dict

one      1
three    3
two      2
dtype: int64

In [3]:
# Make a Series using a tuple, note letters as labels
mytupl = (1,2,3)
s_tupl = pd.Series(mytupl, index=['a','b','c'])
s_tupl

a    1
b    2
c    3
dtype: int64

In [4]:
# Make Series using a list, also gave letters as labels
mylist = [1,2,3]
s_mylist = pd.Series(mylist, index=['a','b','c'])
s_mylist

a    1
b    2
c    3
dtype: int64

In [5]:
# Make a Series using an ndarray
s = pd.Series(np.array([1,2,3,4,5,6]), index=['a','b','c','d','e','f'])
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [6]:
# return Series Index
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [7]:
# Make Series with time series - index automatically assigned by not specifying it
t = pd.Series(np.random.randn(5))
t

0   -0.358532
1   -0.606002
2    0.419302
3    0.162698
4   -0.169688
dtype: float64

##### Series from Python Dict

In [8]:
# create a Series using a dict - keys become the axis labels
# NOTE, sorted according to keys
d = {'a':0., 'c':1., 'b':2.}
s_fromdict = pd.Series(d)
s_fromdict

a    0.0
b    2.0
c    1.0
dtype: float64

In [9]:
# add index manually can force an ordering
# note, index is a list
# note, NaN (Not a Number) added for missing value created by new key 'd'
s_fromdict_ordered = pd.Series(d, index=['b', 'c', 'd', 'a'])
s_fromdict_ordered

b    2.0
c    1.0
d    NaN
a    0.0
dtype: float64

##### Series from a Scalar

In [10]:
# a scalar is just a fucking number
# scalar is just copied into the number of indexes
s_fromscalar = pd.Series(5., index=['a','b','c','d','e'])
s_fromscalar

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

### A Series is ndarray-like

In [11]:
# my original Series using an ndarray
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [12]:
# access the 0th
s[0]

1

In [13]:
# so I can slice
s[:3]

a    1
b    2
c    3
dtype: int64

In [14]:
# return a boolean test across the Series
s > s.median()

a    False
b    False
c    False
d     True
e     True
f     True
dtype: bool

In [15]:
# use the boolean test to return only certain rows
s[s > s.median()]

d    4
e    5
f    6
dtype: int64

In [16]:
# return only certain indices according to a list
s[[4,3,1]]

e    5
d    4
b    2
dtype: int64

In [17]:
# apply an operation to each item in the Series
# the exponential function e^x (irrational number to the xth)
np.exp(s)

a      2.718282
b      7.389056
c     20.085537
d     54.598150
e    148.413159
f    403.428793
dtype: float64

### A Series is dict-like

In [18]:
# select a value with label-based selection
s['a']

1

In [19]:
# test if a value is in the Series
'e' in s

True

In [20]:
'z' in s

False

In [21]:
# select single value from Series using the label and .get
s.get('e')

5

### Vectorized Operations and Label Alignment with Series

In [22]:
# my original Series using an ndarray
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [23]:
# add each Series Value to itself
s + s

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [24]:
# multiply by a value
s * 2

a     2
b     4
c     6
d     8
e    10
f    12
dtype: int64

In [25]:
# exponentiation of e to the nth
np.exp(s)

a      2.718282
b      7.389056
c     20.085537
d     54.598150
e    148.413159
f    403.428793
dtype: float64

In [26]:
# my original Series with ndarray again
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [27]:
# slice and add starting from 1th on left and 4th on right
s[1:] + s[:-1]

a     NaN
b     4.0
c     6.0
d     8.0
e    10.0
f     NaN
dtype: float64

In [28]:
# same operation dropping NaN
p = s[1:] + s[:-1]
p.dropna()

b     4.0
c     6.0
d     8.0
e    10.0
dtype: float64

### Change Properties of a Series

In [29]:
# give Series a name
q = pd.Series(np.random.randn(5), name = 'something')
q

0   -0.847298
1   -0.737452
2   -2.031924
3    0.052570
4    2.756562
Name: something, dtype: float64

In [30]:
# rename a Series
q2 = q.rename('different')
q2

0   -0.847298
1   -0.737452
2   -2.031924
3    0.052570
4    2.756562
Name: different, dtype: float64

### Apply a function Across a Series

In [31]:
# function returns a number multiplied by 100
def mult(num):
    return num * 100

In [32]:
# apply to each item in the series
q2.apply(mult)

0    -84.729800
1    -73.745179
2   -203.192408
3      5.257042
4    275.656238
Name: different, dtype: float64

### A Pandas DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.
Accepts:
* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* Structured or record ndarray
* A Series
* Another DataFrame

'index' parameter is row labels and 'column' is column labels

In [33]:
# make DataFrame from dict of Series
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [34]:
# new DataFrame only with certain indices
d2 = pd.DataFrame(d, index=['d','b','a'])
d2

   one  two
d  NaN    4
b  2.0    2
a  1.0    1

In [35]:
# new DataFrame only with certain indices and column
d3 = pd.DataFrame(d, index=['d','b','a'], columns=['two'])
d3

   two
d    4
b    2
a    1

In [36]:
# return index 
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [37]:
# return columns
df.columns

Index(['one', 'two'], dtype='object')

In [38]:
# return data types
df.dtypes

one    float64
two      int64
dtype: object

In [39]:
#### DataFrame from dict of lists
d = {'one': [1.,2.,3.,4.], 'two':[5.,6.,7.,8.]}
pd.DataFrame(d)

   one  two
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0

In [40]:
# change index (row labels)
pd.DataFrame(d, index=['a','b','c','d'])

   one  two
a  1.0  5.0
b  2.0  6.0
c  3.0  7.0
d  4.0  8.0

### Pandas Vectorized Operations and Other Operations

In [41]:
# a DataFrame
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [42]:
# vectorized operation with .sum()
# axis=1 indicates operation across index (rows)
df['sum'] = df[['one','two']].sum(axis=1)
df['stdev'] = df[['one','two','sum']].std(axis=1)
df

   one  two  sum     stdev
a  1.0    1  2.0  0.577350
b  2.0    2  4.0  1.154701
c  3.0    3  6.0  1.732051
d  NaN    4  4.0  0.000000

In [43]:
# inplace fill NaN with values
df['one'].fillna(0.0, inplace=True)
df

   one  two  sum     stdev
a  1.0    1  2.0  0.577350
b  2.0    2  4.0  1.154701
c  3.0    3  6.0  1.732051
d  0.0    4  4.0  0.000000

In [44]:
# add a mixed row to the DataFrame with some NaN
df['new_col'] = [1,np.nan,3]
df

ValueError: Length of values does not match length of index

In [45]:
# now inplace remove only the row with Nan
df.dropna(subset=['new_col'], inplace=True)
df

KeyError: ['new_col']

In [ ]:
# returns a single column as a Pandas Series
x = df['one']
print(x)
type(x)

In [ ]:
# returns a numpy 1D array
x = df['one'].values
print(x)
type(x)

In [ ]:
# show DataFrame again
df

In [ ]:
# keep anything with criteria met (a list of multiple values for criteria is ok)
criteria = [1.0]
df = df[df['one'].isin(criteria)]

# fix and check this - make into example
# note, can chain conditions like
    # df = df[(df['one'].isin(criteria)) & (df['two'].isin(othercriteria))]
df

In [ ]:
# add new rows back into the DataFrame using .concat

# first make a couple new DataFrames from df
df2 = df
df3 = df
df = pd.concat([df, df2, df3])
df

In [ ]:
# now change up some values
df[:1] = df[:1].apply(lambda x: x+2)
df[2:] = df[2:].apply(lambda x: x*100)

In [ ]:
# now df is ready to play with
df

In [ ]:
# remove anything with criteria met
# notice only difference with removing is the tilde
criteria = [1.0]
df = df[~df['one'].isin(criteria)]
df

### Use Regex and Pandas functions to manipulate string elements

### replace

In [ ]:
# create a new DataFrame from dict with Series
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
    'three' : pd.Series(['($1.22)','($3.44)','($6.44)','($9.33)'], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

In [ ]:
# use Regex to replace each value in column 'three' with parens and $ removed
# note, this is a vectorized operation
df.three = df.three.str.replace('[$,(,)]','')
df