# Python Data Structures
[Data Structures](https://docs.python.org/3.5/tutorial/datastructures.html)

### Python Tuple

In [5]:
t = 12345, 54321, 'hello!'
# note, they may be input with or wihtout parens
t[0]

12345

In [6]:
t

(12345, 54321, 'hello!')

In [7]:
# nested tuples
u = t, (1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [8]:
# the 0th is now my original tuple
u[0]

(12345, 54321, 'hello!')

In [9]:
# 1th is the second tuple
u[1]

(1, 2, 3, 4, 5)

In [10]:
# tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [11]:
# a tuple can contain a list
# TODO: is the nested list mutable?
tup1 = 1, 2, 3
list1 = ['a', 'b', 'c']

tup2 = tup1, list1
tup2

((1, 2, 3), ['a', 'b', 'c'])

Tuples usually contain hererogeneous sequence of elements
that are accessed via unpacking or indexing, while lists are usually homogenous and accessed by iterating over the list

In [12]:
# empty tuple has empty parents
empty_tup = ()
empty_tup

()

In [13]:
# one item tuple needs a trailing comma
one_item_tup = 'hello',
#note, without that trailing comma the variable is a string
one_item_tup

('hello',)

In [14]:
# sequence unpacking - left side number of variables must
# equal number of items in the tuple. Assignment is made
# accordingly
u = 99999, 88888, 'goodbye'
a, b, c = u
b

88888

In [15]:
# sequence unpacking here with a tuple
# The comma makes the left side a tuple
# corresponding right side is associated with variable name
tup1,tup2,tup3 = 1,2,3
tup2

2

### Python Dictionary

Are indexed by 'keys' which are any immutable type. Like strings, numbers and tuples (if they contain only immutable numbers or strings). Lists cannot be used as keys since they can be modified in place using index assignments. Think of dict as unordered set of key:value pairs with requirement that keys are unique within one dict. Main operation of dict is storing a value with a key and extracting the value given that key. Storing using a key already in use will replace value.

In [169]:
# making a dict
tel = {'jack': 4098, 'sape': 4139}
tel

{'jack': 4098, 'sape': 4139}

In [170]:
# add to beginning of dict
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [171]:
# show item based on key
tel['jack']

4098

In [172]:
# delete item based on key
del tel['guido']
tel

{'jack': 4098, 'sape': 4139}

In [173]:
# list keys in arbitrary order
list(tel.keys())

['sape', 'jack']

In [174]:
# list keys in sorted order
sorted(tel.keys())

['jack', 'sape']

In [175]:
# check if a key exists
'guido' in tel

False

In [176]:
'jack' in tel

True

In [177]:
# manually create a dict
dict_values = {2: 4, 4: 16, 6: 36}
dict_values

{2: 4, 4: 16, 6: 36}

In [178]:
# use dict comprehension to create a dict
dict_values_2 = {x: x**2 for x in (2, 4, 6)}
# note the loop and how x is used to creat key and compute value
dict_values_2

{2: 4, 4: 16, 6: 36}

In [179]:
# the dict constructor
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [180]:
# specify pairs using keyword arguments in constructor
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

### Python lists

In [185]:
i_am_a_list = [1,2,3,4,5,6]
i_am_a_list

[1, 2, 3, 4, 5, 6]

In [186]:
type(i_am_a_list)

list