# Python Time Series

##### Use the Python Datetime library to make Datetime objects

In [1]:
# import datetime module
from datetime import datetime as dt

In [2]:
sample_date = '12/27/2013'

# create the datetime object using datetime.strptime()
dt_obj = dt.strptime(sample_date, '%m/%d/%Y')
dt_obj

datetime.datetime(2013, 12, 27, 0, 0)

In [3]:
# extract parts of the object using datetime.strftime()
print(dt_obj.strftime('%Y'))
print(dt_obj.strftime('%m'))
print(dt_obj.strftime('%d'))

2013
12
27

In [4]:
# can also use pandas pd.to_datetime() to convert to timestamp object
# note, pd.to_datetime() return type depends on input
import pandas as pd

pandas_dt_obj = pd.to_datetime(sample_date)
pandas_dt_obj

Timestamp('2013-12-27 00:00:00')

In [5]:
type(pandas_dt_obj)

pandas.tslib.Timestamp

In [6]:
# can then return parts of the timestamp object as ints
pandas_dt_obj.year

2013

In [7]:
pandas_dt_obj.month

12

In [8]:
pandas_dt_obj.day

27

### Convert a column to datetime stamp and perform operations

In [15]:
master = pd.read_csv('sample-data/Master.csv')
master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [18]:
# loads master table
master = pd.read_csv('sample-data/Master.csv')

# converts debut and finalGame columns to timestamps
master['debut'] = pd.to_datetime(master['debut'])
master['finalGame'] = pd.to_datetime(master['finalGame'])

# calculates difference between debut and final game played
master['career-years'] =  master['finalGame'] - master['debut']

# fills NaN 
master['career-years'].fillna(value=0, inplace=True)

# lambda function to convert days to years
to_days = lambda x: x.days / 365

# converts days to years
master['career-years'] = master['career-years'].apply(to_days)

master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,career-years
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,11.386301
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01,22.490411
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01,9.468493
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,13.197260
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,4.591781