# SQLite3

### Notes:
* [DB Browser for SQLite](http://sqlitebrowser.org/) is an excellent way to graphically browse the database

### Basic Concept

[Using sqlite3 Python module](https://docs.python.org/3.5/library/sqlite3.html?highlight=sqlite#module-sqlite3)

In [ ]:
import sqlite3

In [ ]:
# set up a connection with the database
conn = sqlite3.connect('sample-data/chinook.db')

In [ ]:
# create a cursor object
c = conn.cursor()

In [ ]:
# use the cursor object's execute() method to perform a query
x = c.execute("SELECT * FROM Album")

In [ ]:
# print out all rows from the execute method
for row in x:
    print(row)

In [ ]:
# be sure to close the connection to the database when done
conn.close()

### Use-Case

##### Queries

In [ ]:
# Use pandas to render table as a dataframe
import pandas as pd
import sqlite3

# create object to connect to database
conn = sqlite3.connect('sample-data/chinook.db')
conn

In [ ]:
# make any Query
query = "SELECT * FROM Album"

In [ ]:
# render query as dataframe
df = pd.read_sql_query(query, conn)
df.tail()

##### Commands - Adding rows

In [ ]:
# create cursor object
c = conn.cursor()
c

In [ ]:
# create a command to add something to the table
command = "INSERT INTO Album VALUES (3723,'grapes',273)"

# execute a query agaist the cursor object
c.execute(command)

In [ ]:
# commit the changes to the database
conn.commit()

In [ ]:
# render dataframe using the original query object
df = pd.read_sql(query, conn)
df.tail()

##### Commands - Delete rows

In [ ]:
# create a command to delete something from the table
command = '''
DELETE FROM Album 
WHERE AlbumId in (354, 355)
'''

# execute a query agaist the cursor object
c.execute(command)

In [ ]:
# commit the changes to the database
conn.commit()

In [ ]:
# render dataframe
df = pd.read_sql(query, conn)
df.tail()

In [ ]:
# be sure to close the connection to the database when done
conn.close()

##### Commands - Add Schema (a table)

In [1]:
# set up the connection, import declaratinos and the cursor
import sqlite3
import pandas as pd

conn = sqlite3.connect('sample-data/UdaciousMusic.db')

c = conn.cursor()
c

In [2]:
# run the command
command = ''' CREATE TABLE InvoiceLine
(
    InvoiceLineId INTEGER PRIMARY KEY,
    InvoiceId INTEGER,
    TrackId INTEGER,
    UnitPrice NUMERIC(10,2),
    Quantity INTEGER,
    FOREIGN KEY (InvoiceId) REFERENCES Invoice (InvoiceId),
    FOREIGN KEY (TrackId) REFERENCES Track (TrackId)
);
'''

c.execute(command)

Connect to the database in the terminal and add the following:

INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (1, 1, 2, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (2, 1, 4, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (3, 2, 6, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (4, 2, 8, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (5, 2, 10, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (6, 2, 12, 0.99, 1);
INSERT INTO [InvoiceLine] ([InvoiceLineId], [InvoiceId], [TrackId], [UnitPrice], [Quantity]) VALUES (7, 3, 16, 0.99, 1);

In [6]:
query = "SELECT * FROM InvoiceLine"

df = pd.read_sql(query, conn)
df

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1
5              6          2       12       0.99         1
6              7          3       16       0.99         1

In [7]:
# be sure to close the connection to the database when done
conn.close()

##### A bunch of queries against the Chinook database

In [8]:
# command = '''
# SELECT 
# Customer.Email, 
# Customer.FirstName, 
# Customer.LastName, 
# Genre.Name AS Genre 
# FROM Customer 
#     JOIN Invoice 
#         ON Customer.CustomerId=Invoice.CustomerId
#     JOIN InvoiceLine 
#         ON Invoice.InvoiceId=InvoiceLine.InvoiceId
#     JOIN Track
#         ON InvoiceLine.TrackId=Track.TrackId 
#     JOIN Genre
#         ON Track.GenreId=Genre.GenreId
# WHERE Genre.GenreId = 1 
# GROUP BY Customer.CustomerId 
# ORDER BY Customer.Email ASC
# '''


# command = '''
# SELECT 
# BillingCity, SUM(Total ) 
# FROM Invoice 
# GROUP BY BillingCity 
# ORDER BY SUM(Total) DESC
# limit 1
# '''


# command = '''
# SELECT 
# Invoice.BillingCity,
# COUNT(Genre.Name),
# Genre.Name
# FROM Invoice 
#     JOIN InvoiceLine
#         ON Invoice.InvoiceId=InvoiceLine.InvoiceId
#     JOIN Track
#         ON InvoiceLine.TrackId=Track.TrackID
#     JOIN Genre
#         ON Track.GenreId=Genre.GenreId
# WHERE Invoice.BillingCity = 'Prague'
# GROUP BY Genre.Name
# ORDER BY COUNT(Genre.Name) DESC
# limit 3
# '''


# command = '''
# SELECT 
# Artist.Name as Artist, 
# COUNT(Genre.Name) as count 
# FROM Genre
#     JOIN Track
#         ON Genre.GenreId=Track.GenreId
#     JOIN Album
#         ON Track.AlbumId=Album.AlbumId
#     JOIN Artist
#         ON Album.ArtistId=Artist.ArtistId
# WHERE Genre.GenreId = 1
# GROUP BY Artist.Name
# ORDER BY COUNT(Genre.Name) DESC
# limit 10
# '''


# command = '''
# SELECT
# Invoice.BillingCity,
# Count(Genre.Name) AS NumTracks
# FROM Invoice
#     JOIN InvoiceLine
#         ON Invoice.InvoiceId=InvoiceLine.InvoiceId
#     JOIN Track
#         ON InvoiceLine.TrackId=Track.TrackId
#     JOIN Genre
#         ON Track.GenreId=Genre.GenreId
# WHERE Genre.GenreId = 4 and Invoice.BillingCountry = 'France'
# GROUP BY Invoice.BillingCity
# ORDER BY NumTracks DESC
# '''


# command = '''
# SELECT SUM(Total)
# FROM 
# (SELECT COUNT(*) AS Total
# FROM Invoice
# GROUP BY BillingCountry
# ORDER BY Total DESC
# LIMIT 5);
# '''


# command = '''
# SELECT BillingCity, BillingState, BillingCountry, Total
# FROM Invoice,
# (SELECT AVG(Total) AS Average
# FROM Invoice) as Subquery
# WHERE Total > average;
# '''


# command = '''
# SELECT FirstName, LastName, BillingCity, BillingState, BillingCountry, Total
# FROM Invoice
#     JOIN Customer
#         JOIN (SELECT avg(Total) AS Average FROM Invoice) AS Subquery
# WHERE Total > Average;
# '''


# command = '''
# SELECT FirstName, LastName, BillingCity, BillingState, BillingCountry, Total
# FROM Invoice
#     JOIN Customer
#         JOIN (SELECT avg(Total) AS Average FROM Invoice) AS Subquery
# WHERE Total > Average;
# '''


# command = '''
# SELECT COUNT(DISTINCT Invoice.CustomerId), Invoice.CustomerId, Invoice.InvoiceId, InvoiceLine.InvoiceLineId, InvoiceLine.TrackId, Track.GenreId
# FROM Invoice
#     JOIN InvoiceLine
#         ON Invoice.InvoiceId=InvoiceLine.InvoiceId
#     JOIN Track
#         ON InvoiceLine.TrackId=Track.TrackId
# WHERE Track.GenreId=2
# '''