#### Load data

In [6]:
import pandas as pd
import numpy as np

In [8]:
# load stroop data
stroop_data = pd.read_csv('stroopdata.csv')
stroop_data.head()

   Congruent  Incongruent
0     12.079       19.278
1     16.791       18.741
2      9.564       21.214
3      8.630       15.687
4     14.669       22.803

assumptions - why using t-test
independent or dependent t-test
one or two tail test
significnat difference

In [205]:
# create new column with difference between Congruent and Incongruent
for row in stroop_data:
    stroop_data['Difference'] = stroop_data['Congruent'] - stroop_data['Incongruent']
    
stroop_data.head()

   Congruent  Incongruent  Difference
0     12.079       19.278      -7.199
1     16.791       18.741      -1.950
2      9.564       21.214     -11.650
3      8.630       15.687      -7.057
4     14.669       22.803      -8.134

In [206]:
# summarize the stroop data
stroop_summary = stroop_data.describe()
stroop_summary

       Congruent  Incongruent  Difference
count  24.000000    24.000000   24.000000
mean   14.051125    22.015917   -7.964792
std     3.559358     4.797057    4.864827
min     8.630000    15.687000  -21.919000
25%    11.895250    18.716750  -10.258500
50%    14.356500    21.017500   -7.666500
75%    16.200750    24.051500   -3.645500
max    22.328000    35.255000   -1.950000

In [207]:
# retrieve individual statistics from stroop data
stroop_mean = stroop_summary.get_value('mean','Difference')
stroop_std = stroop_summary.get_value('std','Difference')
print("The stroop sample mean is %f" % stroop_mean)
print("The stroop sample standard deviation is %f" % stroop_std)

The stroop sample mean is -7.964792
The stroop sample standard deviation is 4.864827

In [208]:
# TODO: deal with "More than 40 sec" 
interval = ['0-5 sec','5-10 sec','10-15 sec','15-20 sec','20-25 sec','25-30 sec','30-35 sec','35-40 sec','More than 40 sec']
grouped_values = [40098,52420,48947,23050,11958,4927,3047,1930,3897]
midpoint = [2.5, 7.5, 12.5, 17.5, 22.5, 27.5, 32.5, 37.5, 42.5]
grouped_results = pd.DataFrame({'Interval':interval,
                               'Midpoint':midpoint,
                               'Total':grouped_values})
grouped_results

           Interval  Midpoint  Total
0           0-5 sec       2.5  40098
1          5-10 sec       7.5  52420
2         10-15 sec      12.5  48947
3         15-20 sec      17.5  23050
4         20-25 sec      22.5  11958
5         25-30 sec      27.5   4927
6         30-35 sec      32.5   3047
7         35-40 sec      37.5   1930
8  More than 40 sec      42.5   3897

In [267]:
# attempt: group data from sample
stroop_data

    Congruent  Incongruent  Difference
0      12.079       19.278      -7.199
1      16.791       18.741      -1.950
2       9.564       21.214     -11.650
3       8.630       15.687      -7.057
4      14.669       22.803      -8.134
5      12.238       20.878      -8.640
6      14.692       24.572      -9.880
7       8.987       17.394      -8.407
8       9.401       20.762     -11.361
9      14.480       26.282     -11.802
10     22.328       24.524      -2.196
11     15.298       18.644      -3.346
12     15.073       17.510      -2.437
13     16.929       20.330      -3.401
14     18.200       35.255     -17.055
15     12.130       22.158     -10.028
16     18.495       25.139      -6.644
17     10.639       20.429      -9.790
18     11.344       17.425      -6.081
19     12.369       34.288     -21.919
20     12.944       23.894     -10.950
21     14.233       17.960      -3.727
22     19.710       22.058      -2.348
23     16.004       21.157      -5.153

In [290]:
# find min from Difference column
difference_min = stroop_data.Difference.min()
difference_min

-21.919000000000004

In [294]:
# arange is working - generates floating point range
np.arange(0.0,abs(difference_min), 5.0)

array([  0.,   5.,  10.,  15.,  20.])

In [299]:
stroop_data.groupby(pd.cut(stroop_data['Congruent'], np.arange(0.0,abs(difference_min), 5.0))).groups

{'(10, 15]': [0, 4, 5, 6, 9, 15, 17, 18, 19, 20, 21],
 '(15, 20]': [1, 11, 12, 13, 14, 16, 22, 23],
 '(5, 10]': [2, 3, 7, 8]}

In [266]:
from collections import Counter
for key, values in x.items():
    print(len(values))

1
2
1
5
2

In [232]:
# test pull all values in a range and count
x = stroop_data[stroop_data['Difference'] < -15]
len(x)

2

In [211]:
# dataframe for sample grouped data
sample_grouped = pd.DataFrame({'Interval':interval,
                               'Midpoint':midpoint,
                               'Total':np.nan})
sample_grouped

           Interval  Midpoint  Total
0           0-5 sec       2.5    NaN
1          5-10 sec       7.5    NaN
2         10-15 sec      12.5    NaN
3         15-20 sec      17.5    NaN
4         20-25 sec      22.5    NaN
5         25-30 sec      27.5    NaN
6         30-35 sec      32.5    NaN
7         35-40 sec      37.5    NaN
8  More than 40 sec      42.5    NaN

In [212]:
# test add a value using label
sample_grouped.at[0, 'Total'] = 0
sample_grouped

           Interval  Midpoint  Total
0           0-5 sec       2.5    0.0
1          5-10 sec       7.5    NaN
2         10-15 sec      12.5    NaN
3         15-20 sec      17.5    NaN
4         20-25 sec      22.5    NaN
5         25-30 sec      27.5    NaN
6         30-35 sec      32.5    NaN
7         35-40 sec      37.5    NaN
8  More than 40 sec      42.5    NaN

In [213]:
# test loop through sample_grouped and replace all NaN with 0 (manually)
for row in sample_grouped:
    sample_grouped['Total'] = 0
sample_grouped

           Interval  Midpoint  Total
0           0-5 sec       2.5      0
1          5-10 sec       7.5      0
2         10-15 sec      12.5      0
3         15-20 sec      17.5      0
4         20-25 sec      22.5      0
5         25-30 sec      27.5      0
6         30-35 sec      32.5      0
7         35-40 sec      37.5      0
8  More than 40 sec      42.5      0

In [214]:
# new_df = stroop_data[stroop_data.Incongruent < 20]
# new_df
# new_df2 = stroop_data[stroop_data.Incongruent > 30]
# new_df2

# new_df3 = pd.concat([new_df, new_df2])
# new_df3

#### Question 1. What is our independent variable? What is our dependent variable?

The independent variable is the time it takes to name the ink color in equally-sized lists. The Dependent variable is the frequency of test takers grouped in intervals corresponding to a given interval.

In [1]:
#### Question 2. What is an appropriate set of hypotheses for this task? What kind of statistical test do you expect to perform? Justify your choices.