# Python Data Structures
[Data Structures](https://docs.python.org/3.5/tutorial/datastructures.html)

### Python Tuple

In [4]:
# a tuple
t = 12345, 54321, 'hello!'
# note, they may be input with or wihtout parens
t

(12345, 54321, 'hello!')

In [6]:
# tuples are indexed
t[0]

12345

In [7]:
# nested tuples
u = t, (1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [8]:
# the 0th is my original tuple
u[0]

(12345, 54321, 'hello!')

In [9]:
# 1th is the second tuple
u[1]

(1, 2, 3, 4, 5)

In [10]:
# tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [11]:
# a tuple can contain a list
tup1 = 1, 2, 3
list1 = ['a', 'b', 'c']

tup2 = tup1, list1
tup2

((1, 2, 3), ['a', 'b', 'c'])

In [12]:
# a nested list inside of a tuple is mutable
tup2[1]

['a', 'b', 'c']

In [13]:
# access the 1th item in the tuple, and the 0th item in the list
tup2[1][0] = 'z'
tup2

((1, 2, 3), ['z', 'b', 'c'])

Tuples usually contain hererogeneous sequence of elements
that are accessed via unpacking or indexing, while lists are usually homogenous and accessed by iterating over the list

In [14]:
# empty tuple has empty parents
empty_tup = ()
empty_tup

()

In [15]:
# one item tuple needs a trailing comma
one_item_tup = 'hello',
#note, without that trailing comma the variable is a string
one_item_tup

('hello',)

In [16]:
# sequence unpacking - left side number of variables must
# equal number of items in the tuple. Assignment is made
# accordingly
u = 99999, 88888, 'goodbye'
a, b, c = u
b

88888

In [17]:
# sequence unpacking here with a tuple
# The comma makes the left side a tuple
# corresponding right side is associated with variable name
tup1,tup2,tup3 = 1,2,3
tup2

2

### Python Dictionary

Are indexed by 'keys' which are any immutable type. Like strings, numbers and tuples (if they contain only immutable numbers or strings). Lists cannot be used as keys since they can be modified in place using index assignments. Think of dict as unordered set of key:value pairs with requirement that keys are unique within one dict. Main operation of dict is storing a value with a key and extracting the value given that key. Storing using a key already in use will replace value.

In [1]:
# make a dict
tel = {'jack': 4098, 'sape': 4139}
tel

{'jack': 4098, 'sape': 4139}

In [3]:
# add to beginning of dict
tel['guido'] = 4127
tel

{'guido': 4127, 'jack': 4127, 'sape': 4139}

In [21]:
# show item based on key
tel['jack']

4098

In [22]:
# delete item based on key
del tel['guido']
tel

{'jack': 4098, 'sape': 4139}

In [23]:
# list keys in arbitrary order
list(tel.keys())

['sape', 'jack']

In [24]:
# list keys in sorted order
sorted(tel.keys())

['jack', 'sape']

In [25]:
# check if a key exists
'guido' in tel

False

In [26]:
'jack' in tel

True

In [27]:
# manually create a dict
dict_values = {2: 4, 4: 16, 6: 36}
dict_values

{2: 4, 4: 16, 6: 36}

In [28]:
# use dict comprehension to create a dict
dict_values_2 = {x: x**2 for x in (2, 4, 6)}
# note the loop and how x is used to creat key and compute value
dict_values_2

{2: 4, 4: 16, 6: 36}

In [29]:
# the dict constructor
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [30]:
# specify pairs using keyword arguments in constructor
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

### Python lists

In [31]:
i_am_a_list = [1,2,3,4,5,6,6]
i_am_a_list

[1, 2, 3, 4, 5, 6, 6]

In [32]:
type(i_am_a_list)

list

In [33]:
# access the 1th item
i_am_a_list[1]

2

In [34]:
# change the 1th item
i_am_a_list[1] = 200
i_am_a_list

[1, 200, 3, 4, 5, 6, 6]

### Python set
A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [35]:
# see how long i_am_a_list is
len(i_am_a_list)

7

In [36]:
i_am_a_list[0]

1

In [37]:
# now count only the unique items
my_set = set()
for i in i_am_a_list:
    my_set.add(i)
len(my_set)

6

In [38]:
my_set

{1, 3, 4, 5, 6, 200}

#### Iterables

In [39]:
# a list is an iterable
# read/store each item as much as you like
my_list = [1,2,3]

for i in my_list:
    print(i)

1
2
3

In [40]:
# a list made via list comprehension is still a list/an iterable
my_list2 = [x*x for x in range(3)]

for i in my_list2:
    print(i)

0
1
4

##### Generators

In [41]:
# you can only iterate over a generator once b/c values
# not stored in memory but are generated on the fly
my_generator = (x*x for x in range(3))
for i in my_generator:
    print(i)

0
1
4

##### Yield

In [42]:
# yield is used like 'return' except the funciton returns a generator
# object that does not yet run the code

# creates a generator object with values 0, 1, 4
def createGenerator():
    mylist = range(3)
    for i in mylist:
        yield i*i
        
my_generator = createGenerator()
print(my_generator)

# can iterate over it once
for i in my_generator:
    print(i)
    
# !!! IMPORTANT: calling the func returns the genrator object, not the values
# it's basically a way to run the code inside the function a certain
# number of times without having the whole thing already in memory and being
# iterated across
# here, is like saying "run this funciton 3 times"

<generator object createGenerator at 0x10481feb8>
0
1
4